# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
firmware.uf2
update.bin

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

app/manager/build.nx/

app/sysmodule/out/

app/sysmodule/build/

.idea/

app/manager/sys-rgb-manager.elf
app/manager/sys-rgb-manager.nacp
app/manager/sys-rgb-manager.nro
app/manager/sys-rgb-manager.map

cmake-build-debug/
cmake-build-release/
